/* ============================================================================
 *  Project Variables
 * ========================================================================= */

/* ----------------------------------------------------------------------------
 * Variables
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */
$color-1: #00adb5;
$color-2: #eb586f;
$white:   #ffffff;
$black:   #2e2e2e;
$l-black: lighten( $black, 15% );
$gray:    #e5e5e5;
$l-gray:  #eeeeee;
